@charset "utf-8";
/* CSS Document */
#header {
	background-color:#6bbcf2;
}
#header .logo {
	float:left; 
	margin:10px 20px;
}
#header img { 
	float:left; 
	margin:0 10px;
}
#header h1 {
	line-height:42px; 
	font-size:24px; 
	float:left;
	margin:0 10px;
	color:#0f5488;
	font-family:"楷体";
	font-weight:bold;
}
#header p {
	float:right; 
	line-height:40px; 
	font-size:14px;
	margin:0 10px;
	color:#0873ba;
	font-family:"楷体";
}
#header > a {
	float:right;
	color:#F00;
	line-height:40px;
	margin:0 10px;
	cursor:pointer;
}
#nav {
	background-color:#1084d1;
}
#nav li {
	float:left;
	list-style:none;
	width:16%;
	text-align:center;
}
#nav a {
	font-size:16px;
	color:#282828;
	font-family:"楷体";
	line-height:40px;
}
#nav img {
	margin:12px 0px;
	width:2px;
	height:16px;
	float:left;
}
#nav .bg {
	background-color:#0165a7;
}
#nav .bg a {
	color:#FFF;
}
















