@charset "utf-8";
/* CSS Document */
.body {
	background-color:#94cef4;
}
.loginbox {
	background-image:url(../images/login01.png);
	background-repeat:no-repeat;
	width:600px;
	height:400px;
	margin:60px auto 20px;
	padding:150px 0px 0px 156px;
}
.loginbox .login {
	float:left;
}
.loginbox .button {
	float:right;
	width:140px;
	height:140px;
	background-color:rgba(0,0,0,0);
	margin:8px 54px 0px 0px;
	cursor:pointer;
}
.loginbox .name {
	margin:36px 0px 20px;
}

.loginbox h3 {
	font-family:"楷体";
	font-size:18px;
	color:#fff;
	float:left;
	line-height:30px;
}
.loginbox span {
	font-family:"楷体";
	font-size:20px;
	color:rgba(0,0,0,0);
	line-height:30px;
	display:inline-block;
}
.loginbox input[type = text],.loginbox input[type = password] {
	width:150px;
	height:30px;
	line-height:30px;
	padding:0px 5px;
	font-family:"楷体";
	font-size:16px;
	color:#323232;
	float:left;
	border-radius:6px;
	border:1px solid #06cbf4;
}